.welcome-container {
  display: flex;
  flex-direction: column;
  background-color: #1e293b;
  min-height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.button {
  width: 100px;
  height: 40px;
  color: black;
  font-weight: bold;
  border-radius: 9px;
  background-color: white;
}
.heading {
  color: #f0bb03;
  font-size: 40px;
  font-weight: bold;
}
.desc {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
